body {
  margin: 0 0;
}

#root {
  display: flex;
  align-items: center;
  height: 100vh;
}

.curConvert {
  width: 100%;
}

.header {
  background: #0000000a;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 60px;
  color: #023688;
  text-shadow: 2px 6px 6px antiquewhite;
  font-family: monospace;
  margin: 0;
}

.exchange-rte {
  height: 20vh;
  background: #011638;
}

.exchange-rte p {
  color: white;
  font-family: monospace;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background: #0219377a;
  padding: 15px 0;
}

input.amount {
  padding: 8px;
  outline: none;
  font-size: 23px;
  text-align: center;
  border: 1px solid #011638;
  background: aliceblue;
}

span.to {
  font-size: 18px;
  font-family: monospace;
}

select.currencyFrom {
  background: #011638;
  height: 40px;
  width: 7%;
  margin-left: 10px;
  font-family: monospace;
  font-size: 15px;
  outline: none;
  color: white;

}

select.currencyTo {
  background: #011638;
  height: 40px;
  width: 7%;
  margin-right: 10px;
  font-family: monospace;
  font-size: 15px;
  outline: none;
  color: white;
}

button.convert-btn {
  cursor: pointer;
  padding: 12px 60px;
  background: rgb(221, 38, 25);
  font-size: 16px;
  font-family: monospace;
  border: 1px solid white;
  color: white;
  outline: none;
  border-radius: 6px;
}

.result {
  outline: none;
  font-size: 16px;
  border: 1px solid #011638;
  background: aliceblue;
  width: 20%;
  padding: 8px 6px;
}

/* mobile portrait */
@media (min-width: 320px) and (max-width: 480px) {
  #root {
    flex-direction: column;
  }

  .header {
    height: 20vh;
    text-align: center;
  }
  
  .header h1 {
    font-size: 35px;
  }
  
  .exchange-rte {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  
  .exchange-rte p {
    font-size: 15px;
  }

  form {
    flex-direction: column;
    height: 60vh;
    padding: 0;
  }
  
  select.currencyFrom, select.currencyTo {
    height: 15%;
    width: 15%;
  }

  .result {
    width: 75%;
    text-align: center;
    padding: 8px;
    font-size: 20px;
  }
}

/* mobile landscape */
@media (min-width: 481px) and (max-width: 767px) {
  #root {
    flex-direction: column;
  }

  .header {
    height: 15vh;
    text-align: center;
  }
  
  .header h1 {
    font-size: 35px;
  }
  
  .exchange-rte {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
  }
  
  .exchange-rte p {
    font-size: 15px;
  }

  form {
    flex-direction: column;
    height: 70vh;
    padding: 0;
  }
  
  select.currencyFrom, select.currencyTo {
    height: 15%;
    width: 15%;
  }

  .result {
    width: 75%;
    text-align: center;
    padding: 8px;
    font-size: 20px;
  }
}